[Unit]
Description=Webhook listener for auto-deployment
After=network.target

[Service]
ExecStart=/usr/local/bin/webhook -hooks /home/ubuntu/deployment/hooks.json -port 9000
Restart=always
User=ec2-user

[Install]
WantedBy=multi-user.target
